{% extends "components/form_layout.html" %}

{% block breadcrumbs %}
  {% include "components/breadcrumb.html" with list_url=list_url list_title=list_title current_title=current_title %}
{% endblock %}

{% block heading %}{% if is_edit %}Edit Item{% else %}Add New Item{% endif %}{% endblock %}

{% block fields %}
  {% for field in form %}
    {% include "components/form_field.html" with field=field %}
  {% endfor %}
{% endblock %}

{% block submit_text %}{% if is_edit %}Update{% else %}Create{% endif %}{% endblock %}
{% block back_url %}{% url 'items_list' %}{% endblock %}
