{% extends "components/detail_layout.html" %}

{% block breadcrumbs %}
  {% include "components/breadcrumb.html" with list_url=list_url list_title=list_title current_title=current_title %}
{% endblock %}

{% block heading %}{{ item.name }}{% endblock %}

{% block actions %}
  <a href="{% url 'item_edit' item.item_id %}" class="btn-secondary">Edit</a>
  <form action="{% url 'item_toggle_active' item.item_id %}" method="post" class="inline">
    {% csrf_token %}
    <button type="submit" class="btn-secondary">
      {% if item.is_active %}Archive{% else %}Activate{% endif %}
    </button>
  </form>
  <a href="{% url 'item_delete' item.item_id %}" class="btn-danger">Delete</a>
{% endblock %}

{% block detail_table %}
  {% include "components/detail_section.html" with title="Details" content_template="components/detail_table.html" %}
{% endblock %}

{% block extra_tables %}
  {% if suppliers %}
    {% include "components/detail_section.html" with title="Supplier History" content_template="inventory/_supplier_history.html" %}
  {% endif %}
  {% if stock_movements %}
    {% include "components/detail_section.html" with title="Stock Movements" content_template="inventory/_stock_movements.html" %}
  {% endif %}
{% endblock %}
