<tr>
  <td class="px-2"><input type="text" name="kind-{{ index }}" value="{{ comp.component_kind if comp }}" class="border p-1" /></td>
  <td class="px-2"><input type="number" name="id-{{ index }}" value="{{ comp.component_id if comp }}" class="border p-1 w-20" /></td>
  <td class="px-2"><input type="number" step="any" name="qty-{{ index }}" value="{{ comp.quantity if comp }}" class="border p-1 w-24" /></td>
  <td class="px-2"><input type="text" name="unit-{{ index }}" value="{{ comp.unit if comp }}" class="border p-1 w-16" /></td>
  <td class="px-2"><input type="number" step="any" name="loss-{{ index }}" value="{{ comp.loss_pct if comp }}" class="border p-1 w-16" /></td>
</tr>
