{% extends "components/list_layout.html" %}
{% block title %}Recipes – Inventory App{% endblock %}
{% block heading %}Recipes{% endblock %}
{% block actions %}
  <a class="btn-primary" href="{% url 'recipe_create' %}">New Recipe</a>
{% endblock %}
{% block table_container %}
<ul class="list-disc pl-5">
  {% for r in recipes %}
    <li><a class="text-primary" href="{% url 'recipe_detail' r.recipe_id %}">{{ r.name }}</a></li>
  {% empty %}
    <li>No recipes available.</li>
  {% endfor %}
</ul>
{% endblock %}
