{% extends "components/responsive_table.html" %}

{% block caption %}<caption>Receive Items</caption>{% endblock %}

{% block headers %}
  <th scope="col">Item</th>
  <th scope="col">Ordered</th>
  <th scope="col">Received</th>
  <th scope="col">Receive Now</th>
{% endblock %}

{% block rows %}
  {% for item in items %}
  <tr>
    <td>{{ item.item.name }}</td>
    <td>{{ item.quantity_ordered }}</td>
    <td>{{ item.received_total }}</td>
    <td><input type="number" step="any" name="item_{{ item.pk }}" class="form-control w-24" /></td>
  </tr>
  {% endfor %}
{% endblock %}
