{% extends "components/table.html" %}

{% block headers %}
<th class="px-4 py-2 text-right">PO #</th>
<th class="px-4 py-2">Supplier</th>
<th class="px-4 py-2">Order Date</th>
<th class="px-4 py-2">Status</th>
{% endblock %}

{% block rows %}
{% for po in orders %}
<tr class="odd:bg-gray-50 hover:bg-gray-100 dark:odd:bg-gray-800 dark:hover:bg-gray-700">
  <td class="px-4 py-2 text-right"><a class="text-primary" href="{% url 'purchase_order_detail' po.pk %}">{{ po.pk }}</a></td>
  <td class="px-4 py-2">{{ po.supplier.name }}</td>
  <td class="px-4 py-2">{{ po.order_date }}</td>
  <td class="px-4 py-2"><span class="px-2 py-1 rounded text-xs {{ po.badge_class }}">{{ po.get_status_display }}</span></td>
</tr>
{% empty %}
<tr>
  <td colspan="4" class="px-4 py-2">
    {% url 'purchase_order_create' as po_create_url %}
    {% include "components/empty_state.html" with title="No Purchase Orders" message="Create a new purchase order to get started." cta_label="New PO" cta_url=po_create_url %}
  </td>
</tr>
{% endfor %}
{% endblock %}

{% block footer %}
<div class="mt-4 flex justify-between">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" class="text-primary">Previous</a>
  {% endif %}
  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}" class="text-primary">Next</a>
  {% endif %}
</div>
{% endblock %}
