{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventory App</title>
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/formset.js' %}"></script>
  </head>
  <body class="min-h-screen">
    {% include "components/nav.html" %}
    <div id="htmx-spinner" class="hidden fixed inset-0 flex items-center justify-center bg-black/25">
      <div class="h-12 w-12 border-4 border-primary dark:border-primary border-t-transparent rounded-full animate-spin"></div>
    </div>
    <div class="container mx-auto px-8 max-md:px-6 max-sm:px-4 py-4">
      {% if messages %}
        {% include "components/alert.html" %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    {% include "components/colour_customizer.html" %}
    <script>
      document.body.addEventListener('htmx:request', function () {
        document.getElementById('htmx-spinner').classList.remove('hidden');
      });
      document.body.addEventListener('htmx:afterRequest', function () {
        document.getElementById('htmx-spinner').classList.add('hidden');
      });
    </script>
  </body>
</html>
