{% comment %}
Generic button component. Use `href` for links or rely on `type` for button elements.
Supported variants: primary, secondary, danger, icon, etc.
Optional `extra_classes` to append additional Tailwind classes.
{% endcomment %}
{% if href %}
<a href="{{ href }}" id="{{ id }}" class="btn-{{ variant|default:'primary' }} {{ extra_classes }}">{{ label }}</a>
{% else %}
<button id="{{ id }}" name="{{ name }}" type="{{ type|default:'button' }}" class="btn-{{ variant|default:'primary' }} {{ extra_classes }}">{{ label }}</button>
{% endif %}
