{% extends "_base.html" %}
{% load static %}

{% block title %}{% block page_title %}Manage{% endblock %}{% endblock %}
{% block nav_heading %}{% block page_heading %}{% endblock %}{% endblock %}

{% block content %}
  {% block breadcrumbs %}{% endblock %}
  {% block page_subtitle %}{% endblock %}
  {% block filter_bar %}
    {% block filters %}{% endblock %}
  {% endblock %}

  {% block description %}{% endblock %}
  {% block kpis %}{% endblock %}
  {% block extra_top %}{% endblock %}

  {% block table_container %}
  <div id="{% block table_id %}{% endblock %}">
    {% block data_container %}{% endblock %}
  </div>
  {% block bulk_actions %}{% endblock %}
  {% block pagination %}{% endblock %}
  {% endblock %}
{% endblock %}

{% block extra_js %}
  {% block page_scripts %}{% endblock %}
{% endblock %}
