{% extends "components/list_layout.html" %}
{% load static %}

{% block title %}{% block page_title %}Manage{% endblock %}{% endblock %}

{% block heading %}
  {% block heading_icon %}{% endblock %}
  {% block page_heading %}{% endblock %}
{% endblock %}

{% block actions %}
  <div class="flex items-center gap-2">
    {% block primary_actions %}{% endblock %}
    {% block secondary_actions %}{% endblock %}
  </div>
{% endblock %}

{% block filter_bar %}
  {% block filters %}{% endblock %}
{% endblock %}

{% block extra %}
  {% block description %}{% endblock %}
  {% block kpis %}{% endblock %}
  {% block extra_top %}{% endblock %}
{% endblock %}

{% block table_container %}
  {% block data_container %}{% endblock %}
  {% block bulk_actions %}{% endblock %}
  {% block pagination %}{% endblock %}
{% endblock %}

{% block extra_js %}
  {% block page_scripts %}{% endblock %}
{% endblock %}
