<div class="p-4 max-sm:p-2 text-center border border-form-border rounded bg-form-bg dark:bg-form-darkBg dark:border-form-darkBorder">
  <svg class="mx-auto w-5 h-5 text-form-text dark:text-form-darkText" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/></svg>
    <h2 class="text-xl mb-4 mt-8">{{ title }}</h2>
  <p class="mb-4 text-form-text dark:text-form-darkText">{{ message }}</p>
  <a href="{{ cta_url }}" class="btn-primary px-4 py-2 rounded">{{ cta_label }}</a>
</div>
