{% comment %}Reusable table component with sticky headers and optional actions and footer slots{% endcomment %}
<div class="max-md:overflow-x-auto">
  {% block actions %}{% endblock %}
  <table class="w-full table-auto text-sm divide-y divide-gray-200">
    <thead class="sticky top-0 bg-primary text-white">
      <tr>
        {% block headers %}{% endblock %}
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {% block rows %}{% endblock %}
    </tbody>
  </table>
</div>
{% block footer %}{% endblock %}
